python-http-client
charset_normalizer
2captcha-python
beautifulsoup4
pyinstaller
pylibcheck
pyperclip
pyautogui
pypiwin32
websocket
requests
datetime
requests
selenium
keyboard
colorama
urlopen
discord
asyncio
easygui
tasksio
pystyle
discum
Cipher
colour
pillow
PyNaCl
psutil
emoji
httpx
loads
Popen
tqdm
pipe
fore
aes