python-http-client
charset_normalizer
2captcha-python
beautifulsoup4
pyinstaller
pylibcheck
pyperclip
pyautogui
pypiwin32
websocket
packaging
requests
datetime
pyfadecolor
requests
selenium
keyboard
colorama
urlopen
colored
discord
asyncio
PyNaCl
easygui
tasksio
pystyle
discum
Cipher
colour
Popen
login
pillow
psutil
emoji
httpx
loads
tqdm
pipe
fore
aes
